<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    <title>Fitnatic HOME PAGE</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ asset('user/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('user/assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('user/assets/css/templatemo-training-studio.css') }}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Fit<em> Natic</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" >Home</a></li>
                            <li class="scroll-to-section"><a href="#features">Activities</a></li>
                            <li class="scroll-to-section"><a href="#our-classes"class="active">Competitions</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Forum</a></li>
                            <li class="scroll-to-section"><a href="{{ path('add_Fiche') }}">Food Monitoring</a></li> 
                            <li class="scroll-to-section"><a href="{{ path('add_reclamation') }}">Reclamations</a></li> 
                       
                           
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->

<section class="section" id="competition-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="margin-bottom: -90px;">
                <div class="section-heading text-center">
                    <h2>{{ competition.name }} Details</h2>
                    <img src="{{ asset('user/assets/images/description.png') }}" alt="" style="width: 50px; height: 50px;">
                    <p>{{ competition.description }}</p>
                </div>
            </div>
            <div class="col-lg-12 text-center mt-4">
                <ul class="list-unstyled row">
                    <li class="mb-4 col-md-6">
                        <img src="{{ asset('user/assets/images/date.png') }}" alt="" style="width: 50px; height: 50px;">
                        <h4>Start Date</h4>
                        <p>{{ competition.startDate|date('Y-m-d') }}</p>
                    </li>
                    <li class="mb-4 col-md-6">
                        <img src="{{ asset('user/assets/images/sport1.jpg') }}" alt="" style="width: 50px; height: 50px;">
                        <h4>Sport Type</h4>
                        <p>{{ competition.sportType }}</p>
                    </li>
                    <li class="mb-4 col-md-6">
                        <img src="{{ asset('user/assets/images/date.png') }}" alt="" style="width: 50px; height: 50px;">
                        <h4>End Date</h4>
                        <p>{{ competition.endDate|date('Y-m-d') }}</p>
                    </li>
                    <li class="mb-4 col-md-6">
                        <img src="{{ asset('user/assets/images/ticket.png') }}" alt="" style="width: 70px; height: 70px;">
                        <h4>Entry Fee</h4>
                        <p>{{ competition.entryFee }}</p>
                    </li>
                    <li class="mb-4 col-md-6">
                        <img src="{{ asset('user/assets/images/location.png') }}" alt="" style="width: 50px; height: 50px;">
                        <h4>Location</h4>
                        <p>{{ competition.location }}</p>
                    </li>
                    <li class="mb-4 col-md-6">
                        <img src="{{ asset('user/assets/images/users.png') }}" alt="" style="width: 50px; height: 50px;">
                        <h4>Participants</h4>
                        <p>{{ competition.maxParticipants }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 text-center mt-4">
    <a href="{{ path('app_competitions') }}" class="btn btn-primary" style="background-color: #e85d39; color: white;">Back to Competitions</a>
</div>
        </div>
    </div>
</section>






 
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->
   
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 
                    
                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">Fitnatic Team</a><br>

        
                
                </p>
                    
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
<!-- Include CSS stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ asset('user/assets/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('user/assets/css/font-awesome.css') }}">
<link rel="stylesheet" href="{{ asset('user/assets/css/templatemo-training-studio.css') }}">

<!-- Include JavaScript libraries -->
<script src="{{ asset('user/assets/js/jquery-2.1.0.min.js') }}"></script>

<!-- Bootstrap -->
<script src="{{ asset('user/assets/js/popper.js') }}"></script>
<script src="{{ asset('user/assets/js/bootstrap.min.js') }}"></script>

<!-- Plugins -->
<script src="{{ asset('user/assets/js/scrollreveal.min.js') }}"></script>
<script src="{{ asset('user/assets/js/waypoints.min.js') }}"></script>
<script src="{{ asset('user/assets/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('user/assets/js/imgfix.min.js') }}"></script>
<script src="{{ asset('user/assets/js/mixitup.js') }}"></script>
<script src="{{ asset('user/assets/js/accordions.js') }}"></script>

<!-- Global Init -->
<script src="{{ asset('user/assets/js/custom.js') }}"></script>


  </body>
</html>

